*~
*.bundle
*.pyc
*.swo
*.swp
SKIP_PIP_INSTALL
/base-storm/cluster.xml
/base-storm/storm-setup.yaml
/config/storm-setup.yaml
/config/cluster.xml
/config/zoo.cfg
/zookeeper/storm-setup.yaml
/zookeeper/zoo.cfg
/venv
