# Set this to true if and only if you are running every Storm component on a
# single machine using 127.0.0.1 as the IP address.
# Otherwise, set it to false.
is_localhost_setup: true

# Hosts running storm-supervisor.
#
# Each item in this array represents a single storm-supervisor node running in
# a Docker container.
#
# Each item should have the following keys:
#
# - `ip`: An IP address for the node/machine running storm-supervisor.
#         NOTE: This IP address must be accessible by ALL storm components.
#
# - `aliases`: A list of aliases that can be used to identify the
#              storm-supervisor node.
#
#              This is needed for the Storm Supervisor nodes to identify one
#              another; supplying one unique identifier for each
#              Storm Supervisor host will do the trick.
#
#              The 0th alias will be used as the hostname for the Docker
#              container running the storm-supervisor.
storm.supervisor.hosts:
  -
    ip: "10.0.52.1"
    aliases:
      - "machine-B-storm-supervisor"
      - "mB-storm-supervisor"
      - "storm-supervisor-B"
  -
    ip: "172.92.1.156"
    aliases:
      - "machine-C-storm-supervisor"
      - "balut-fever"

# Port configuration for a multiple server Zookeeper setup.
# I know this is separate from the `storm.zookeeper.port` under `storm.yaml` but
# yea...
# This is NOT required if you are running a single Zookeeper.
zookeeper.multiple.setup:
  follower.port: 2888
  election.port: 3888


################################################################################
# Stuff nested under the `storm.yaml` key mirror those in the actual
# `storm.yaml` configuration file for Storm.
#
# Please place ALL settings you want to be in the actual `storm.yaml` file here.
#
# Refer to:
#
#     https://github.com/apache/incubator-storm/blob/master/conf/defaults.yaml
#
# for a more complete list of configuration parameters.
################################################################################

storm.yaml:
  storm.local.dir: "/mnt/storm"

  storm.zookeeper.servers:
    - "1.2.3.4"
  storm.zookeeper.port: 2181

  nimbus.host: "1.2.3.4"
  nimbus.thrift.port: 6627

  ui.port: 8080

  # Use IPv4
  nimbus.childopts: "-Djava.net.preferIPv4Stack=true"
  supervisor.childopts: "-Djava.net.preferIPv4Stack=true"
  worker.childopts: "-Djava.net.preferIPv4Stack=true"

  # netty transport
  storm.messaging.transport: "backtype.storm.messaging.netty.Context"
  storm.messaging.netty.server_worker_threads: 1
  storm.messaging.netty.client_worker_threads: 1
  storm.messaging.netty.buffer_size: 16384
  storm.messaging.netty.max_retries: 10
  storm.messaging.netty.min_wait_ms: 1000
  storm.messaging.netty.max_wait_ms: 5000

  drpc.servers:
    - "1.2.3.4"
  drpc.port: 6772
  drpc.invocations.port: 6773

  logviewer.port: 8000

  supervisor.slots.ports:
    - 6700
    - 6701
    - 6702
    - 6703
