# Hosts running storm-supervisor.
#
# Each item in this array represents a single storm-supervisor node running in
# a Docker container.
#
# Each item should have the following keys:
#
# - `ip`: An IP address for the node/machine running storm-supervisor.
#         NOTE: This IP address must be accessible by ALL storm components.
#
# - `aliases`: A list of aliases that can be used to identify the
#              storm-supervisor node.
#              The 0th alias will be used as the hostname for the Docker
#              container running the storm-supervisor.
storm.supervisor.hosts:
  -
    ip: "10.0.52.1"
    aliases:
      - "machine-B-storm-supervisor"
      - "mB-storm-supervisor"
      - "storm-supervisor-B"
  -
    ip: "172.92.1.156"
    aliases:
      - "machine-C-storm-supervisor"
      - "balut-fever"

################################################################################
# Stuff from here onwards are exactly the same as those in `storm.yaml`.
# These settings will be used for a slave node running storm-supervisor.
#
# Refer to:
#
#     https://github.com/apache/incubator-storm/blob/master/conf/defaults.yaml
#
# for more details on how to configure this section.
################################################################################

storm.zookeeper.servers:
  - "1.2.3.4"
storm.zookeeper.port: 2181

nimbus.host: "1.2.3.4"
nimbus.thrift.port: 6627

drpc.servers:
  - "1.2.3.4"
drpc.port: 6772
drpc.invocations.port: 6773
