# Set this to true if and only if you are running every Storm component on a
# single machine using 127.0.0.1 as the IP address.
# Otherwise, set it to false.
is_localhost_setup: true

# A dictionary of SSH host to IP address.
# All servers in the Storm cluster MUST be listed in this section.
#
# Each key should be a Host that is inside your SSH config entry.
# Each value should be its IP address. Each IP address given must be accessible
# by each host.
#
# For instance, if your `servers` dict looks like the following:
#
#     servers:
#       "server-one": "10.124.17.82"
#       "server-two": "10.124.17.83"
#
# Then entries along the following lines should be inside your SSH config file:
#
#     Host server-one
#         Hostname some-url.for.server.one
#         User some_user
#         IdentityFile ~/.ssh/server_one_key.pem
#
#     Hostname
#         Hostname some-url.for.server.two
#         User root
#         IdentityFile ~/.ssh/server_two_key.pem
servers:
  "server-one": "10.124.17.82"
  "server-two": "10.124.17.83"
  "server-three": "10.124.17.84"
  "server-four": "10.124.17.85"
  "server-five": "10.124.17.86"

# Set this to `True` if there is at least 1 Amazon EC2 instance in your Storm
# cluster - a future patch may allow for more fine-grained toggling of this
# option. For now, please use one of the following setups for your Storm
# cluster:
# (A) No machine is an Amazon EC2 instance
# (B) All machines are Amazon EC2 instances in the same security group
#
# DO NOT mix usage of Amazon EC2 instances and non-Amazon EC2 instances in the
# same Storm cluster.
#
# If set to `True`, all machines in the Storm cluster will be deemed to be
# Amazon EC2 instances and a `curl` command will be run on each machine to
# retrieve its private and public IP address using instance metadata (see the
# link http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-instance-addressing.html
# for more information).
#
# If this key is missing, it will default to the value `False`.
#
# If set to `True`, machines which are not Amazon EC2 instances may experience
# issues (see https://github.com/viki-org/storm-docker/issues/1) even though we
# pass the `--connect-timeout` flag to `curl`; in that case this field should
# be set to `False` to disable the `curl` command.
#
# A discovery made on 6 August 2014 while implementing a partial fix for
# https://github.com/viki-org/storm-docker/issues/1 is that it seems that we
# no longer have to perform a `curl` command to retrieve the private/internal
# IP address of an Amazon EC2 instance; an `ifconfig` will do the job.
# As such, it is OK to set this to `False` if ALL the machines in the
# Storm cluster are Amazon EC2 instances inside the same security group.
all_machines_are_ec2_instances: False

# Hosts running the `storm-supervisor` Docker container. Each host must be
# present in the `servers` dictionary.
storm.supervisor.hosts:
  - "server-one"
  - "server-four"
  - "server-five"

# Port configuration for a multiple server Zookeeper setup.
# The ports here are used to construct the `server.X` entries for the Zookeeper
# configuration file.
#
# See http://zookeeper.apache.org/doc/trunk/zookeeperAdmin.html#sc_zkMulitServerSetup
# for more information.
#
# This section is NOT required if you are running a single Zookeeper; however
# there is no harm to leave it around.
zookeeper.multiple.setup:
  follower.port: 2888
  election.port: 3888


################################################################################
# Stuff nested under the `storm.yaml` key mirror those in the actual
# `storm.yaml` configuration file for Storm.
# NOTE: There are exceptions but they will be documented.
#
# Please place ALL settings you want to be in the actual `storm.yaml` file here.
#
# Refer to:
#
#     https://github.com/apache/incubator-storm/blob/master/conf/defaults.yaml
#
# for a more complete list of configuration parameters.
################################################################################

storm.yaml:
  storm.local.dir: "/mnt/storm"

  # NOTE: The `storm.zookeeper.servers` section configuration is an exception.
  #       You should use the host names in the `servers` section above instead
  #       of using IP addresses.
  storm.zookeeper.servers:
    - "server-one"
    - "server-two"
    - "server-three"
  storm.zookeeper.port: 2181

  # NOTE: Exception for `nimbus.host`. You should use a host name in the
  #       `servers` section in this YAML file instead of using an IP address.
  nimbus.host: "server-one"
  nimbus.thrift.port: 6627

  ui.port: 8080

  # Use IPv4
  nimbus.childopts: "-Djava.net.preferIPv4Stack=true"
  supervisor.childopts: "-Djava.net.preferIPv4Stack=true"
  worker.childopts: "-Djava.net.preferIPv4Stack=true"

  # netty transport
  storm.messaging.transport: "backtype.storm.messaging.netty.Context"
  storm.messaging.netty.server_worker_threads: 1
  storm.messaging.netty.client_worker_threads: 1
  storm.messaging.netty.buffer_size: 16384
  storm.messaging.netty.max_retries: 10
  storm.messaging.netty.min_wait_ms: 1000
  storm.messaging.netty.max_wait_ms: 5000

  drpc.servers:
    - "1.2.3.4"
  drpc.port: 6772
  drpc.invocations.port: 6773

  logviewer.port: 8000

  supervisor.slots.ports:
    - 6700
    - 6701
    - 6702
    - 6703
