# NOTE: DO NOT add the following configuration parameters:
#
#     clientPort
#     server.* entries (eg. server.1=1.2.3.4:2888:3888)
#
# Because these will be added by the `zookeeper/run-zookeeper.py` Python
# script, which is the entrypoint of the Zookeeper Docker container
#
#
# For more information on the various configuration settings of Zookeeper,
# check out:
#
#     http://zookeeper.apache.org/doc/r3.4.6/zookeeperAdmin.html#sc_configuration


# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp in `zoo_sample.cfg` is just for
# example sakes.
dataDir=/var/lib/zookeeper
# directory where Zookeeper transaction logs are stored
dataLogDir=/zookeeper-transactions
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount=5
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval=24
