<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/javascripts/main.js"></script>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  

  <body>
    <header>
      <a href="">
        <h1>{{ site.data.defaults.heading }}</h1>
        <p>{{ site.data.defaults.summary }}</p>
      </a>
    </header>

    <div id="banner">
      <div class="banner-inner">
        <span id="logo"></span>

        <a href="{{ site.data.github.url }}" class="button fork"><strong>Fork On GitHub</strong></a>
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="{{ site.data.github.zipball }}" class="button">ZIP</a></li>
            <li><a href="{{ site.data.github.tarball }}" class="button">TAR</a></li>
          </ul>
        </div>
      </div>
    </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <!-- javascripts/main.js appends links in the <ul> element for every <h1> and <h2> inside the main section -->
        <ul></ul>
      </nav>

      <aside>
        {% for section in site.data.docs %}
          <ul>
            <h4>{{ section.title }}</h4>
            {% for d in section.docs %}
              <li><a href="{{ site.baseurl }}{{ d.path | prepend: '/' }}">{{ d.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </aside>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><span class="small">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
